body{

    background-color: #000000;

}

nav{

    background-color: #FFFFFF;
    color: #FF0000;

}

h1{

    text-align: center;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: #FFFFFF;

}

h2{

    text-align: center;
    font-family: 'Times New Roman';
    font-size: 25px;
    color: #FF0000;

}

img{

    width: 300px;

}

.Text{

    text-align: center;
    font-family: 'Times New Roman';
    font-size: 15px;

}

.T_Justify{

    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 15px;

}

.T_White{

    color:#FFFFFF;

}


.T_Black{

    color:#000000;

}

.T_Green{

    color:#00FF00;

}

.T_Pink{

    color:#FF00FF;

}

.T_Cyan{

    color:#00FFFF;

}

.T_Yellow{

    color:#F1C40F;

}

.T_Purple{

    color:#6C3483;

}

.T_Red{

    color:#FF0000;

}

#Cuadro{

    padding: 10px;
    background-color: #FFFFFF;
    
}

#Photo{

    text-align: center;

}

#P_Center{

    float: left;
    padding: 0 30px 0 30px;

}

#P_Rigth{

    padding: 0 30px 0 30px;

}

#P_Left{

    padding: 0 30px 0 65px;
	float: left;

}

header{

    padding: 10px;
    color: white;
    background-color: black;

}

footer{

    padding: 10px;
    background-color: white;

}

section {

    background-color: white;
    float: left;
    padding: 0 30px 0 30px;


}
